.header-intro{
    height: 120px;
    width: 100%;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    display: inline-flex;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    .section_one{
        width: 25%;
        position: relative;
        padding: 0px;
        background-color: #ffffff;
        top: 0px;
        left: 0px;
        transform: skew(-30deg);
        -webkit-transform: skew(-30deg);
        div{
            transform: skew(29deg !important);
            -webkit-transform: skew(29deg) !important;
        }
    }
    .section_two{
        width: 25%;
        position: relative;
        padding: 0px;
        background-color: #E8E8E8;
        top: 0px;
        left: 0px;
        transform: skew(-30deg);
        -webkit-transform: skew(-30deg);
        div{
            transform: skew(29deg !important);
            -webkit-transform: skew(29deg) !important;
        }
    }
    .section_three{
        width: 50%;
        position: relative;
        padding: 0px;
        background-color: #ffffff;
        top: 0px;
        transform: skew(-30deg);
        -webkit-transform: skew(-30deg);
        div{
            transform: skew(17deg !important);
            -webkit-transform: skew(17deg) !important;
        }
        .header{
            width: 90%;
            margin-left: 10px;
            margin-top: 10px;
            .left{
                float: left;
            }
            .right{
                float: right;
            }
        }
        .birthday-list{
            margin-top: 35px;
            height: 50px;
            margin-left: 22px;
            display: flex;
            .item{
                width: 80px;
                height: 50px;
                padding: 0px 10px;
                cursor: pointer;
                color: orange;
                img{
                    width: 50px;
                    height: 50px;
                }
                img:hover{
                    width: 53px;
                    height: 53px;
                    color: orange !important;
                }
                span{
                    font-size: 10px;
                    color: #6c757d;
                }
                span:hover{
                    color: orange;
                }
            }
        }
    }
}