.login-footer {
    //position: fixed;
    //left: 0;
    //bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #6c757d;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    border-top: 1px solid #ccc;
    font-size: 13px;
    .right-footer {
      height: 100%;
      line-height: 50px;
    }
    .left-footer {
      height: 100%;
      border-right: 4px dotted #ccc;
      width: 100%;
      text-align: center;
      img {
        height: 50px;
      }
    }
    .form-group{
      margin-bottom: 0px;
    }
  }

  // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .login-footer{
      display: none;
    }
    
}
  